@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.coment_aria {
    background: #191919;
    height: 400px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.coment_aria input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: 1px solid 444;
}

.coment_aria label {
  color: #eee;
  font-weight: 500;
}

.inputAria {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 500px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;

  }
  
  .app-container {
    background: #191919;
    height: 400px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }
  
  .login {
    font-size: 2em;
    color: #eee;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 500px;
  }

  
  .form-group label {
    color: #eee;
    font-weight: 500;
  }
  
  .form-group input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: 1px solid 444;
  }
  
  .coment_aria  input::placeholder {
    color: #999;
  }
  
  .coment_aria .input-error {
    border: 1px solid rgb(255, 72, 72);
  }
  
  .coment_aria  .error-message {
    color: rgb(255, 72, 72);
    font-size: 0.75rem;
    margin-top: 8px;
  }
  
 
  
  .coment_aria button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #eee;
    background-color: #ff3636;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 500ms ease;
  }
  
  .coment_aria  button:hover {
    cursor: pointer;
    background-color: #ff0000;
  }





.comentario1 {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}


.botao {
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #eee;
    background-color: #ff3636;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 500ms ease;
}

.botao:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.comentario1 {
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: left;
    margin: 10px auto;
    width: 100vh;
    height: auto;
    color: #000;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #fff;
    padding: 0 0 0 20px;
}

.doComment {
    font-size: 2em;
    color: #eee;
}

.name {
    font-size: 1.2em;
    color: #eee;
}


.comentarioPrevius {
    display: block;
    margin: 20px;
    height: auto;
    color: #eee;
    font-size: 19px;
}


ion-icon {
    font-size: 40px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}

.star {
    font-size: 30px;
    background-color: transparent;
    color: #151324;
    margin-top: 10px;
}

.yellow {
    font-size: 30px;
    color: rgb(213, 213, 41);

}

.comentario-content {
    margin: 30px 60px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
    text-align: justify;
}

.newuser {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.user1 {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    display: inline;
}
.user2 {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    display: inline;
}

h1 {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-bottom: 2px solid #ccc;
}

.name h3 {
    color: #eee;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;

}


.comentario {
    color: #000;
}

.fazerComentarioAria {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

